
body {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, pink, skyblue, pink);
}

.top-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
  margin: 0px 0px 25px 0px;
  font-size: x-large;
  font-weight: 500;
  background-color: whitesmoke;
}

.top-nav a {
  color: navy;
  text-decoration: none;
  margin-right: 20px;
}

.top-nav a:hover {
  color: magenta;
}

.parks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}


.parkGrid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: 800px;
  width: 600px;
  left: 00px;
  top: 10px;
  position: relative;
  margin: 20px;
  justify-content: center;
  color: blue;
  padding: 20px;
}

.parkImg {
  max-height: 300px;
  max-width: 400px;
  padding: 10px;
}
















